body {
    background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172);
    font-family: sans-serif;
    padding: 200px;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    
  }
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .build {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .word {
    width: 80%;
    background-color: rgb(167, 166, 164);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
  }
  hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
.my-button{
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
}
button{
  background-color: rgb(31, 28, 23);
  border: none;
  color: rgb(244, 243, 243);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.name {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}